.table .header-cell,
.table .cell {
  padding: 30px;
}

.table .single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.row:hover {
  background-color: #ddd;
}
